<div id="headerHolder">
	<h1><a href="/{% if SITE_MULTILANGUAGE %}{{ BL.getWorkingLanguage() }}{% endif %}" title="{{ BL.lbl('VisitWebsite')|ucfirst }}">{{ SITE_TITLE }}</a></h1>
	<table id="header">
		<tr>
			<td id="navigation">
				{{ var|getmainnavigation|raw }}
			</td>
			<td id="user">
				<ul>
					{% if debug %}
						<li>
							<div id="debugnotify">{{ BL.lbl('DebugMode')|ucfirst }}</div>
						</li>
					{% endif %}

					{% if SITE_MULTILANGUAGE and BL.getWorkingLanguages() %}
						<li>
						<label for="workingLanguage">{{ BL.msg('NowEditing')|ucfirst }}:</label>
							<select id="workingLanguage">
								{% for abbr, label in BL.getWorkingLanguages() %}
								<option{% if abbr == BL.getWorkingLanguage() %} selected="selected"{% endif %} value="{{ abbr }}">{{ label|ucfirst }}</option>
								{% endfor %}
							</select>
						</li>
					{% endif %}

					<li id="account">
						<a href="#ddAccount" id="openAccountDropdown" class="fakeDropdown">
							<span class="avatar av24 block">
								<img src="{{ FRONTEND_FILES_URL }}/backend_users/avatars/32x32/{{ user.getSetting('avatar') }}" width="24" height="24" alt="{{ user.getSetting('nickname') }}" />
							</span>
							<span class="nickname">{{ user.getSetting('nickname') }}</span>
							<span class="arrow">&#x25BC;</span>
						</a>
						<ul class="hidden" id="ddAccount">
							{% if authenticatedUserEditUrl %}<li><a href="{{ authenticatedUserEditUrl }}">{{ BL.lbl('EditProfile')|ucfirst }}</a></li>{% endif %}
							<li class="lastChild"><a href="{{ var|geturl('logout', 'authentication') }}">{{ BL.lbl('SignOut')|ucfirst }}</a></li>
						</ul>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>

