{% extends "base_module.html.twig" %}

{% block module %}
	<div class="pageTitle">
		<h2>{{ BL.lbl('Faq')|ucfirst }}: {{ BL.lbl('Categories') }}</h2>

		{% if showFaqAddCategory %}
		<div class="buttonHolderRight">
			<a href="{{ var|geturl('add_category') }}" class="button icon iconAdd"><span>{{ BL.lbl('AddCategory')|ucfirst }}</span></a>
		</div>
		{% endif %}
	</div>
	{% if dataGrid %}
		<div class="dataGridHolder">
			{{ dataGrid|raw }}
		</div>
	{% else %}
		{{ BL.msg('NoCategories') }}
	{% endif %}
{% endblock %}
